Source: glnetviz
Section: graphics
Priority: optional
Maintainer: Yoshi <gpp65536@ybb.ne.jp>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, curl, perl-modules
Standards-Version: 3.9.2
Homepage: https://freecode.com/projects/glnetviz
Vcs-Browser: https://github.com/gpp256/glNetViz
Vcs-Git: git://github.com/gpp256/glNetViz.git

Package: glnetviz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, apache2, libyaml-perl
Description: A tool to visualize the network topology from JSON data
 glNetViz is a tool for visualizing computer network topologies with WebGL.
 .
 With the abilities of real time visualizing network traffics flowing 
 around the local network and to/from the Internet, you can manage the 
 various network more easily and efficiently. glNetViz is intended to be 
 a convenient tool that can easily visualize the network topology from 
 the serialized data in YAML or JSON.
